/* Menu Deal */
.navigation-wrap {
    border-bottom: 1px solid #BDBDBD;
}

.navigation-wrap-row {
    margin: 0 -8px;
    align-items: center;
}

.navigation-wrap-menu {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
    padding: 0 8px;
}

.menu-main .menu-title {
    color: #FF4200;
    font-size: 18px;
    line-height: 21px;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    font-weight: 700;
    padding: 13px 0 11px;
    cursor: pointer;
}

.menu-main .menu-title img {
    margin: 0 12px 0 0;
}

.menu-main > ol {
    overflow: visible;
    position: absolute;
    top: 45px;
    left: 8px;
    background: #FFF none;
    z-index: 99;
    width: -webkit-calc(400% - 16px);
    width: -moz-calc(400% - 16px);
    width: calc(400% - 16px);
    grid-template-columns: 25% 25% 25% 25%;
    display: none;
}

.menu-main:hover > ol {
    display: grid;
}

.menu-main > ol::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 1px solid #BEBEBE;
}

.menu-main > ol > li {
    padding: 11px;
    border-bottom: 1px solid #BEBEBE;
    border-right: 1px solid #BEBEBE;
}

.menu-main > ol > li > a {
    color: #333;
    font-size: 16px;
    line-height: 19px;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    position: relative;
}

.menu-main > ol > li > a img {
    max-width: 24px;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 24px;
    flex: 0 0 24px;
    margin: 0 18px 0 0;
}

.menu-main li a:hover {
    color: #FF4200;
}

.navigation-wrap-banner {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
    padding: 0 8px;
}

.menu-deal ol {
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}

.menu-deal li {
    position: relative;
}

.menu-deal a {
    font-size: 14px;
    line-height: 16px;
    color: #333;
}

.menu-deal a:hover {
    color: #207BC1;
}

.notify-circle {
    width: 16px;
    height: 16px;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transition: visibility .5s;
    transition: visibility .5s;
    display: block;
    position: absolute;
    top: -8px;
    left: -15px;
}

.notify-circle::before {
    content: '';
    width: 8px;
    height: 8px;
    border-radius: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    background: #FF4200 none;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.notify-circle::after {
    content: '';
    width: 16px;
    height: 16px;
    top: 0;
    left: 0;
    position: absolute;
    border-radius: 100%;
    border: 1px solid #FF4200;
    opacity: .5;
    -webkit-animation: notify-circle-anim 1.2s infinite ease-in-out;
    -moz-animation: notify-circle-anim 1.2s infinite ease-in-out;
    -o-animation: notify-circle-anim 1.2s infinite ease-in-out;
    animation: notify-circle-anim 1.2s infinite ease-in-out;
    -webkit-transition: all .5s;
    transition: all .5s;
    -webkit-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%
}

@keyframes notify-circle-anim {
    0% {
        -webkit-transform: rotate(0) scale(.5) skew(1deg);
        -ms-transform: rotate(0) scale(.5) skew(1deg);
        transform: rotate(0) scale(.5) skew(1deg);
        opacity: .1;
    }
    30% {
        -webkit-transform: rotate(0) scale(.7) skew(0);
        -ms-transform: rotate(0) scale(.7) skew(1deg);
        transform: rotate(0) scale(.7) skew(1deg);
        opacity: .5;
    }
    100% {
        -webkit-transform: rotate(0) scale(1) skew(1deg);
        -ms-transform: rotate(0) scale(1) skew(1deg);
        transform: rotate(0) scale(1) skew(1deg);
        opacity: .6;
    }
}
/* End Menu Deal */

/* Breadcrumb */
.breadcrumbs {
    margin: 16px 0 0;
}

.breadcrumbs ol,
.breadcrumbs li {
    display: -ms-flexbox;
    display: flex;
    align-items: center;
}

.breadcrumbs li {
    font-size: 13px;
    line-height: 15px;
    color: #999;
}

.breadcrumbs li a {
    color: #999;
}

.breadcrumbs li::after {
    content: '';
    width: 7px;
    height: 9px;
    background: transparent url('../images/css/css-sprites.png') no-repeat -72px -128px;
    position: relative;
    display: block;
    margin: 0 5px;
}

.breadcrumbs li:last-child::after {
    display: none;
}
/* End Breadcrumb */

/* Deal Product */
.deal-product {
    margin: 40px 0 0;
}

.deal-product-title {
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    border-bottom: 2px solid #FF4200;
}

.deal-product-title h2 {
    margin: 0;
    display: inline-block;
    padding: 4px 20px 3px;
    font-size: 30px;
    line-height: 35px;
    color: #fff;
    background: #FF4200 none;
    font-weight: 400;
    border-radius: 0 15px 0 0;
}

.deal-product-title ul {
    display: -ms-flexbox;
    display: flex;
}

.deal-product-title li {
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    font-size: 18px;
    line-height: 21px;
}

.deal-product-title li::after {
    content: '';
    display: block;
    position: relative;
    height: 21px;
    width: 0;
    border-left: 1px solid #B4AFAF;
    margin: 0 15px;
}

.deal-product-title li:last-child::after {
    display: none;
}

.deal-product-title li h3 {
    font-size: 18px;
    line-height: 21px;
    font-weight: 400;
    margin: 0;
}

.deal-product-title li a {
    color: #333;
}

.deal-product-title li a.active,
.deal-product-title li a:hover {
    color: #207BC1;
}

.deal-product-content {
    margin: 16px 0 0;
}

.deal-product-panel {
    display: none;
}

.deal-product-panel.active {
    display: block;
}

.deal-product-panel ul {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: -16px -8px 0;
}

.deal-product-panel li {
    position: relative;
    width: 100%;
    padding: 0 8px;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
    margin: 16px 0 0;
}

.deal-product-item a {
    border: 1px solid #BDBDBD;
    background: #FFF none;
    padding: 15px 15px 0;
    display: block;
}

.deal-product-item .product-img {
    height: 220px;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
}

.deal-product-item .product-img img {
    max-height: 100%;
}

.deal-product-item h3 {
    font-size: 14px;
    line-height: 16px;
    margin: 15px -15px 0;
    padding: 14px 15px 0;
    font-weight: 400;
    background: #F3F3F3 none;
    color: #666;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    min-height: 46px;
}

.deal-product-bottom {
    padding: 10px 15px 5px;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    margin: 0 -15px;
    background: #F3F3F3 none;
}

.deal-product-percent {
    color: #FF4200;
    font-size: 50px;
    line-height: 59px;
    margin: 0 15px 0 0;
}

.deal-product-percent .icon-percent {
    font-size: 20px;
    line-height: 23px;
    color: #FF4200;
    font-style: normal;
}

.deal-product-sale {
    display: block;
    font-size: 14px;
    line-height: 16px;
    text-decoration: line-through;
    color: #666666;
    margin: 0 0 3px;
}

.deal-product-regular {
    font-size: 20px;
    line-height: 23px;
    display: block;
    color: #333333;
}
/* End Deal Product */

/* Article Category */
.article-category {
    margin: 30px 0 0;
}

.article-category-row {
    margin: 0 -12px;
}

.article-category-left {
    -ms-flex: 0 0 73.53%;
    flex: 0 0 73.53%;
    max-width: 73.53%;
    padding: 0 12px;
}

.article-category-right {
    -ms-flex: 0 0 26.47%;
    flex: 0 0 26.47%;
    max-width: 26.47%;
    padding: 0 12px;
}

.article-category-wrap {
    margin: 40px 0 0;
}

.article-category-wrap:nth-child(1) {
    margin: 0;
}

.article-category-title {
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    border-bottom: 2px solid #FF4200;
}

.article-category-title h2 {
    margin: 0;
    display: inline-block;
    padding: 4px 20px 3px;
    font-size: 30px;
    line-height: 35px;
    color: #fff;
    background: #FF4200 none;
    font-weight: 400;
    border-radius: 0 15px 0 0;
}

.article-category-title h2 a {
    color: #FFF;
}

.article-category-more {
    display: block;
    line-height: 0;
    margin: 0 0 0 20px;
    max-width: 90px;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 90px;
    flex: 0 0 90px;
}

.article-item {
    margin: 24px 0 0;
}

.article-item::after {
    content: '';
    display: block;
    clear: both;
}

.article-item .article-img {
    float: left;
    max-width: 31.393%;
    margin: 0 16px 0 0;
    position: relative;
    width: 100%;
    height: 155px;
    overflow: hidden;
    display: block;
}

.article-item .article-img img {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 100%;
}

.article-item h3 {
    font-size: 20px;
    line-height: 23px;
    color: #333;
    font-weight: 700;
    margin: 0;
}

.article-time {
    font-size: 12px;
    line-height: 14px;
    font-style: italic;
    margin: 5px 0 0;
    color: #555;
    display: block;
}

.article-description {
    display: block;
    margin: 12px 0 0;
    font-size: 14px;
    line-height: 16px;
    color: #333;
}

.sidebar-box {
    margin: 0 0 24px;
}

.sidebar-box:last-child {
    margin: 0;
}

.deal-box-title {
    display: block;
    border-top: 2px solid #FF6535;
    padding: 11px 16px 10px;
    font-size: 18px;
    line-height: 21px;
    font-weight: 700;
    background: #EEE none;
}

.deal-box ol {
    padding: 14px 17px;
}

.deal-box li {
    margin: 0 0 8px;
}

.deal-box li:last-child {
    margin: 0;
}

.deal-box a {
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    font-size: 16px;
    line-height: 19px;
    color: #333;
}

.deal-box a::before {
    content: '';
    display: block;
    position: relative;
    background: transparent url('../images/css/css-sprites.png') no-repeat -55px -10px;
    margin: 0 7px 0 0;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 24px;
    flex: 0 0 24px;
    height: 24px;
    width: 24px;
}

.article-sticky {
    margin: 16px 0 0;
}

.article-sticky-wrap .article-list::after {
    content: '';
    display: block;
    clear: both;
}

.article-sticky-wrap .article-item {
    float: right;
    width: 100%;
    max-width: 42.666667%;
    margin: 16px 0 0;
}

.article-sticky-wrap .article-item:nth-child(1) {
    float: left;
    width: 100%;
    max-width: 55.333333%;
}

.article-sticky-wrap .article-item:nth-child(1),
.article-sticky-wrap .article-item:nth-child(2) {
    margin-top: 0;
}


.article-sticky-wrap .article-item .article-img {
    max-width: 38.28125%;
    height: 110px;
}

.article-sticky-wrap .article-item:nth-child(1) .article-img {
    float: none;
    max-width: 100%;
    margin: 0;
    height: 426px;
}

.article-item h2 {
    font-size: 22px;
    line-height: 26px;
    margin: 24px 0 0;
    color: #333;
    font-weight: 700;
}

.article-item h3.article-sticky-title {
    font-size: 18px;
    line-height: 21px;
    margin: 0;
    font-weight: 700;
    color: #333;
}

.article-sticky-wrap .article-time {
    margin: 8px 0 0;
}
/* End Article Category */

/* Menu Blog */
.menu-blog-wrap {
    border-bottom: 1px solid #BDBDBD;
    position: -webkit-sticky;
    position: sticky;
    top: 90px;
    z-index: 98;
    background: #FFF none;
}

.menu-blog-wrap.active {
    z-index: 99;
}

.menu-blog {
    visibility: visible;
    text-align: left;
}

.menu-blog > li {
    display: inline-block;
    height: auto;
    vertical-align: middle;
    margin: 0 26px 0 0;
    position: relative;
}

.menu-blog > li:last-child {
    margin: 0;
}

.menu-blog > li:first-child {
    margin: 0 40px 0 0;
}

.menu-blog > li > a {
    font-size: 16px;
    line-height: 19px;
    height: 40px;
    padding: 12px 0 9px;
    color: #333;
    text-transform: uppercase;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    position: relative;
}

.menu-blog > li.has-child > a::after {
    content: '';
    width: 11px;
    height: 8px;
    display: block;
    margin: 0 0 0 4px;
    background: transparent url('../images/css/css-sprites.png') no-repeat -136px -76px;
}

.menu-blog > li:first-child a {
    line-height: 0;
    padding: 9px 0;
}

.menu-blog > li.active > a::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 0;
    border-bottom: 2px solid #207BC1;
    display: block;
}

.menu-blog li.has-child:hover .submenu {
    display: block;
}

.menu-blog li.has-child:hover > a::after {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.menu-blog img {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.menu-blog li.active img {
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
}

.menu-blog .submenu {
    position: absolute;
    z-index: 999;
    width: 180px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    background: #FFF none;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, .15), -2px 0 4px rgba(0, 0, 0, .15);
    display: none;
}

.menu-blog .submenu li {
    border-bottom: 1px solid #E8E8E8;
}

.menu-blog .submenu li:last-child {
    border-bottom: 0;
}

.menu-blog .submenu a {
    font-size: 14px;
    line-height: 16px;
    color: #333;
    padding: 12px;
    display: block;
}
/* End Menu Blog */

.page-title {
    font-weight: 500;
    font-size: 30px;
    line-height: 35px;
    color: #FF4200;
    margin: 16px 0 0;
}