/*  Menu Banner */
.navigation-wrap {
    margin: 20px 0 0;
}

.navigation-wrap-row {
    margin: 0 -8px;
}

.navigation-wrap-menu {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
    padding: 0 8px;
}

.menu-title {
    background: #FF4200 none;
    border-radius: 6px 6px 0 0;
    color: #fff;
    font-size: 20px;
    line-height: 23px;
    height: 44px;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    font-weight: 700;
}

.menu-title img {
    margin: 0 21px 0 15px;
    -webkit-filter: brightness(0) invert(1);
    filter: brightness(0) invert(1);
}

.menu-main > ol {
    border: 1px solid #BEBEBE;
    border-top: 0;
    max-height: 750px;
    overflow: hidden;
}

.menu-main > ol > li {
    padding: 11px;
    border-top: 1px solid #E8E8E8;
}

.menu-main li:first-child {
    border-top: 0;
}

.menu-main > ol > li > a {
    color: #333;
    font-size: 16px;
    line-height: 19px;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    position: relative;
}

.menu-main > ol > li > a img {
    max-width: 24px;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 24px;
    flex: 0 0 24px;
    margin: 0 18px 0 0;
}

.menu-main > ol > li.has-child > a::after {
    content: '';
    position: absolute;
    width: 12px;
    height: 16px;
    background: transparent url('../images/css/css-sprites.png') no-repeat -136px -10px;
    display: block;
    top: 50%;
    right: 0;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.menu-main li:hover a,
.menu-main li a:hover {
    color: #FF4200;
}

.menu-main > ol > li.has-child:hover a::after,
.menu-main > ol > li.has-child > a:hover::after {
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
}

.menu-main .submenu {
    position: absolute;
    left: -webkit-calc(100% - 16px);
    left: -moz-calc(100% - 16px);
    left: calc(100% - 16px);
    z-index: -1;
    display: none;
}

.menu-main > ol > li.has-child:hover .submenu {
    display: block;
    z-index: 99;
}

.menu-main .submenu ol {
    margin: 0 0 0 11px;
    width: 100%;
    min-width: 686px;
    column-gap: 30px;
    column-fill: initial;
    column-count: 3;
    background: #FFF none;
    padding: 22px 27px;
    box-shadow: -4px 0 4px rgba(0, 0, 0, .15), 0 4px 4px rgba(0, 0, 0, .25);
}

.menu-main .submenu li {
    display: block;
    padding: 3px 0;
}

.menu-main .submenu li a {
    color: #333;
    font-size: 14px;
    line-height: 19px;
}

.menu-main .submenu li a:hover {
    color: #FF4200;
}

.navigation-wrap-banner {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
    padding: 0 8px;
}

.menu-deal ol {
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}

.menu-deal li {
    position: relative;
}

.menu-deal a {
    font-size: 14px;
    line-height: 16px;
    color: #333;
}

.menu-deal a:hover {
    color: #207BC1;
}

.notify-circle {
    width: 16px;
    height: 16px;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transition: visibility .5s;
    transition: visibility .5s;
    display: block;
    position: absolute;
    top: -8px;
    left: -15px;
}

.notify-circle::before {
    content: '';
    width: 8px;
    height: 8px;
    border-radius: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    background: #FF4200 none;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.notify-circle::after {
    content: '';
    width: 16px;
    height: 16px;
    top: 0;
    left: 0;
    position: absolute;
    border-radius: 100%;
    border: 1px solid #FF4200;
    opacity: .5;
    -webkit-animation: notify-circle-anim 1.2s infinite ease-in-out;
    -moz-animation: notify-circle-anim 1.2s infinite ease-in-out;
    -o-animation: notify-circle-anim 1.2s infinite ease-in-out;
    animation: notify-circle-anim 1.2s infinite ease-in-out;
    -webkit-transition: all .5s;
    transition: all .5s;
    -webkit-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%
}

@keyframes notify-circle-anim {
    0% {
        -webkit-transform: rotate(0) scale(.5) skew(1deg);
        -ms-transform: rotate(0) scale(.5) skew(1deg);
        transform: rotate(0) scale(.5) skew(1deg);
        opacity: .1;
    }
    30% {
        -webkit-transform: rotate(0) scale(.7) skew(0);
        -ms-transform: rotate(0) scale(.7) skew(1deg);
        transform: rotate(0) scale(.7) skew(1deg);
        opacity: .5;
    }
    100% {
        -webkit-transform: rotate(0) scale(1) skew(1deg);
        -ms-transform: rotate(0) scale(1) skew(1deg);
        transform: rotate(0) scale(1) skew(1deg);
        opacity: .6;
    }
}

.banner-carousel {
    margin: 17px 0 0;
}

.banner-carousel.owl-carousel .owl-nav button {
    width: 44px;
    height: 44px;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 35px;
    line-height: 1;
    background: rgba(0, 0, 0, .4) none;
    color: #fff;
    border-radius: 50%;
    -webkit-transition: all .3s;
    transition: all .3s;
}

.banner-carousel.owl-carousel .owl-nav button span {
    position: relative;
    top: -2px;
}

.banner-carousel.owl-carousel .owl-nav .owl-prev {
    left: 10px;
}

.banner-carousel.owl-carousel .owl-nav .owl-next {
    right: 10px;
}

.banner-carousel.owl-carousel .owl-nav button:hover {
    background: rgba(0, 0, 0, .7) none;
}

.banner-small {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 16px -8px 0;
}

.banner-small-item {
    position: relative;
    width: 100%;
    padding: 0 8px;
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
}

.banner-small-item img {
    width: 100%;
}
/* End Menu Banner */

/* Category Product */
.product-img {
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
}

.product-img img {
    max-height: 100%;
}

.deal-product,
.category-product {
    margin: 40px 0 0;
}

.deal-product-title,
.category-product-title {
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    border-bottom: 2px solid #FF4200;
}

.deal-product-title h2,
.category-product-title h2 {
    margin: 0;
    display: inline-block;
    padding: 4px 20px 3px;
    font-size: 30px;
    line-height: 35px;
    color: #fff;
    background: #FF4200 none;
    font-weight: 400;
    border-radius: 0 15px 0 0;
}

.deal-product-title h2 a,
.category-product-title h2 a {
    color: #FFF;
}

.category-product-more {
    display: block;
    line-height: 0;
    margin: 0 0 0 20px;
    max-width: 90px;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 90px;
    flex: 0 0 90px;
}

.deal-product-title ul {
    display: -ms-flexbox;
    display: flex;
}

.deal-product-title li {
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    font-size: 18px;
    line-height: 21px;
}

.deal-product-title li::after {
    content: '';
    display: block;
    position: relative;
    height: 21px;
    width: 0;
    border-left: 1px solid #B4AFAF;
    margin: 0 15px;
}

.deal-product-title li:last-child::after {
    display: none;
}

.deal-product-title li h3 {
    font-size: 18px;
    line-height: 21px;
    font-weight: 400;
    margin: 0;
}

.deal-product-title li a {
    color: #333;
}

.deal-product-title li a.active,
.deal-product-title li a:hover {
    color: #207BC1;
}

.category-product-row {
    margin: 15px -9px 0;
}

.category-product-banner {
    -ms-flex: 0 0 32.84%;
    flex: 0 0 32.84%;
    max-width: 32.84%;
    padding: 0 9px;
}

.category-product-banner img {
    width: 100%;
}

.category-product-list {
    -ms-flex: 0 0 67.16%;
    flex: 0 0 67.16%;
    max-width: 67.16%;
    padding: 0 9px;
}

.category-product-list ul {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: -16px -8px 0;
}

.category-product-list li {
    position: relative;
    width: 100%;
    padding: 0 8px;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
    margin: 16px 0 0;
}

.product-item a {
    padding: 12px 12px 15px;
    border: 1px solid #BDBDBD;
    display: block;
}

.product-item .product-img {
    height: 140px;
}

.product-item h3 {
    font-size: 13px;
    line-height: 15px;
    margin: 10px 0 0;
    font-weight: 400;
    color: #666;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    min-height: 45px;
}

.product-item-price {
    color: #DE1F1F;
    font-size: 15px;
    line-height: 18px;
    margin: 15px 0 0;
    display: block;
}

.product-item-store {
    font-size: 13px;
    line-height: 15px;
    color: #333;
    margin: 3px 0 0;
    display: block;
}

.deal-product-content {
    margin: 16px 0 0;
}

.deal-product-panel {
    display: none;
}

.deal-product-panel.active {
    display: block;
}

.deal-product-panel ul {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: -16px -8px 0;
}

.deal-product-panel li {
    position: relative;
    width: 100%;
    padding: 0 8px;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
    margin: 16px 0 0;
}

.deal-product-item a {
    border: 1px solid #BDBDBD;
    background: #FFF none;
    padding: 15px 15px 0;
    display: block;
}

.deal-product-item .product-img {
    height: 220px;
}

.deal-product-item h3 {
    font-size: 14px;
    line-height: 16px;
    margin: 15px -15px 0;
    padding: 14px 15px 0;
    font-weight: 400;
    background: #F3F3F3 none;
    color: #666;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    min-height: 46px;
}

.deal-product-bottom {
    padding: 10px 15px 5px;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    margin: 0 -15px;
    background: #F3F3F3 none;
}

.deal-product-percent {
    color: #FF4200;
    font-size: 50px;
    line-height: 59px;
    margin: 0 15px 0 0;
}

.deal-product-percent .icon-percent {
    font-size: 20px;
    line-height: 23px;
    color: #FF4200;
    font-style: normal;
}

.deal-product-sale {
    display: block;
    font-size: 14px;
    line-height: 16px;
    text-decoration: line-through;
    color: #666666;
    margin: 0 0 3px;
}

.deal-product-regular {
    font-size: 20px;
    line-height: 23px;
    display: block;
    color: #333333;
}
/* End Category Product */

/* Article */
.article-img {
    position: relative;
    width: 100%;
    height: 155px;
    overflow: hidden;
    display: block;
}

.article-img img {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 100%;
}

.article-wrap {
    margin: 40px 0 0;
}

.article-wrap-title {
    font-size: 30px;
    font-weight: 400;
    line-height: 35px;
    color: #333;
}

.article-wrap-row {
    margin: 15px -12px 0;
}

.article-wrap-left {
    -ms-flex: 0 0 73.53%;
    flex: 0 0 73.53%;
    max-width: 73.53%;
    padding: 0 12px;
}

.article-wrap-right {
    -ms-flex: 0 0 26.47%;
    flex: 0 0 26.47%;
    max-width: 26.47%;
    padding: 0 12px;
}

.article-list li {
    margin: 24px 0 0;
}

.article-list li:nth-child(1) {
    float: left;
    width: 100%;
    max-width: 65.111111%;
}

.article-list li:nth-child(1) .article-img {
    height: 300px;
}

.article-list li:nth-child(2),
.article-list li:nth-child(3) {
    float: right;
    width: 100%;
    max-width: 33.111111%;
}

.article-list li:nth-child(1),
.article-list li:nth-child(2) {
    margin-top: 0;
}

.article-list li:nth-child(3) {
    margin-top: 16px;
}

.article-list li.clearfix {
    margin-top: 0;
}

.article-list li.article-break {
    border-top: 4px solid #E8E8E8;
    padding: 16px 0 0;
}

.article-item h3 {
    font-size: 20px;
    line-height: 23px;
    color: #333;
    font-weight: 700;
    margin: 0;
}

.article-list li.article-item:nth-child(1) h3 {
    margin-top: 20px;
    font-size: 24px;
    line-height: 28px;
}

.article-list li.article-item:nth-child(2) h3,
.article-list li.article-item:nth-child(3) h3 {
    margin-top: 8px;
    font-size: 18px;
    line-height: 21px;
}

.article-description {
    display: block;
    margin: 8px 0 0;
    font-size: 14px;
    line-height: 16px;
    color: #333;
}

.article-list li.article-item:not(:nth-child(1)):not(:nth-child(2)):not(:nth-child(3)) .article-img {
    float: left;
    max-width: 31.393%;
    margin: 0 16px 0 0;
}

.article-list li.article-item:not(:nth-child(1)):not(:nth-child(2)):not(:nth-child(3))::after {
    content: '';
    display: block;
    clear: both;
}

.article-ads-item {
    margin: 16px 0 0;
}

.article-ads-item:first-child {
    margin-top: 0;
}

.article-ads-item img {
    width: 100%;
}
/* End Article */