*,
::after,
::before {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 1.5;
    font-weight: 400;
    margin: 0;
    color: #333;
}

img {
    width: auto;
    height: auto;
    max-width: 100%;
}

a {
    -webkit-transition: all .3s;
    transition: all .3s;
    text-decoration: none;
    color: #337ab7;
}

a:focus,
a:hover,
a:active {
    outline: none;
    text-decoration: none;
    color: #23527c;
}

p {
    display: block;
    margin: 0 0 10px;
}

input:focus {
    outline: none;
}

.container {
    width: 100%;
    padding: 0;
    margin: 0 auto;
    max-width: 1160px;
}

.text-center {
    text-align: center;
}

.clearfix::after {
    content: '';
    display: block;
    clear: both;
}

.list-no-style {
    margin: 0;
    padding: 0;
    list-style: none;
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.row-col {
    position: relative;
    width: 100%;
}

.header-wrap {
    padding: 20px 0;
    background: #FFF none;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 99;
}

.header-content {
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}

.logo {
    margin: 0;
    line-height: 0;
}

.logo a {
    display: inline-block;
}

.landing-menu {
    display: -ms-flexbox;
    display: flex;
    align-items: center;
}

.landing-menu li {
    margin: 0 32px 0 0;
}

.landing-menu li:last-child {
    margin: 0;
}

.landing-menu a {
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    color: #373F41;
    position: relative;
    display: block;
    letter-spacing: 0.2px;
}

.landing-menu a:hover::after {
    content: '';
    display: block;
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 2px;
    background: #207BC1 none;
    border-radius: 4px;
}

.button-register {
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    padding: 12px 18px;
    display: block;
    background: #207BC1 none;
    border-radius: 4px;
    color: #FFF;
    max-width: 182px;
    letter-spacing: 0.2px;
    text-align: center;
}

.button-register:hover,
.button-register:focus {
    color: #FFF;
}

.solution-wrap {
    padding: 32px 0;
}

.solution-row {
    margin: 0 -24px;
    align-items: center;
}

.solution-col {
    padding: 0 24px;
}

.solution-col:nth-child(1) {
    -ms-flex: 0 0 43.21%;
    flex: 0 0 43.21%;
    max-width: 43.21%;
}

.solution-col:nth-child(2) {
    -ms-flex: 0 0 56.79%;
    flex: 0 0 56.79%;
    max-width: 56.79%;
}

.solution-text {
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #333;
    margin: 16px 0 0;
}

.solution-text:nth-child(1) {
    margin: 0;
}

.solution-title {
    margin: 16px 0 0;
    font-size: 35px;
    line-height: 42px;
    color: #333;
    font-weight: 700;
}

.solution-content .button-register {
    margin: 32px 0 0;
}

.solution-img {
    line-height: 0;
}

.benefit-wrap {
    padding: 80px 0;
    background: #F4F6FB none;
}

.section-title {
    font-size: 35px;
    line-height: 42px;
    font-weight: 700;
    color: #333;
    margin: 0;
    position: relative;
}

.section-title::after {
    content: '';
    display: block;
    width: 120px;
    height: 4px;
    background: #207BC1 none;
    border-radius: 4px;
    position: relative;
    margin: 24px 0 0;
}

.section-title.line-center {
    text-align: center;
}

.section-title.line-center::after {
    margin: 24px auto 0;
}

.benefit-row {
    margin: 32px -42px 0;
}

.benefit-col {
    padding: 0 42px;
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
}

.benefit-item {
    text-align: center;
}

.benefit-img {
    line-height: 0;
}

.benefit-img {
    line-height: 0;
}

.benefit-title {
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #333;
    margin: 16px 0 0;
}

.benefit-description {
    font-size: 14px;
    line-height: 16px;
    color: #333;
    margin: 24px 0 0;
}

.about-wrap {
    padding: 80px 0;
}

.about-row {
    margin: 0 -40px;
}

.about-col {
    padding: 0 40px;
}

.about-col:nth-child(1) {
    -ms-flex: 0 0 51.612%;
    flex: 0 0 51.612%;
    max-width: 51.612%;
}

.about-col:nth-child(2) {
    -ms-flex: 0 0 48.388%;
    flex: 0 0 48.388%;
    max-width: 48.388%;
}

.about-video a {
    display: block;
    position: relative;
    line-height: 0;
}

.about-video a::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 46px;
    height: 46px;
    display: block;
    background: transparent url('../images/landing/icon-video.png') no-repeat center;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.about-video img {
    width: 100%;
    border-radius: 4px;
}

.section-description {
    font-size: 16px;
    line-height: 19px;
    color: #333;
    margin: 32px 0 0;
}

.feature-wrap {
    padding: 80px 0;
    background: #F4F6FB none;
}

.feature-row {
    margin: 0 -20px;
    align-items: center;
}

.feature-col {
    padding: 0 20px;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}

.feature-col .feature-row {
    margin: 32px -20px 0;
}

.feature-info-icon {
    line-height: 0;
}

.feature-owl.owl-carousel .owl-item .feature-info-icon img {
    width: auto;
}

.feature-info-content {
    margin: 17px 0 0;
    font-size: 16px;
    line-height: 19px;
    color: #333;
}

.feature-owl.owl-carousel .owl-dots {
    margin: 30px 0 0;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
}

.feature-owl.owl-carousel .owl-dot {
    border: 1px solid #333;
    background: #FFF none;
    height: 16px;
    border-radius: 50%;
    display: block;
    margin: 0 0 0 16px;
    max-width: 16px;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 16px;
    flex: 0 0 16px;
}

.feature-owl.owl-carousel .owl-dot:nth-child(1) {
    margin: 0;
}

.feature-owl.owl-carousel .owl-dot:hover,
.feature-owl.owl-carousel .owl-dot.active {
    background: #207BC1 none;
    border: 1px solid #207BC1;
}

.register-wrap {
    padding: 80px 0;
    background: #F4F6FB none;
}

.register-row {
    margin: 0 -32px;
}

.register-col {
    padding: 0 32px;
}

.register-col:nth-child(1) {
    -ms-flex: 0 0 42.238%;
    flex: 0 0 42.238%;
    max-width: 42.238%;
}

.register-col:nth-child(2) {
    -ms-flex: 0 0 57.762%;
    flex: 0 0 57.762%;
    max-width: 57.762%;
}

.register-text {
    font-size: 16px;
    line-height: 19px;
    color: #333;
    margin: 32px 0 0;
}

.register-form-row {
    margin: -21px -20px 0;
}

.register-form-col {
    padding: 0 20px;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
    margin: 21px 0 0;
}

.register-form label {
    display: block;
    margin: 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #333;
}

.register-form .form-input {
    border: 1px solid #DBDADD;
    background: #FFF none;
    border-radius: 4px;
    display: block;
    outline-offset: -2px;
    -webkit-appearance: none;
    height: 42px;
    font-family: inherit;
    padding: 12px 20px;
    width: 100%;
    font-size: 16px;
    line-height: 1.5;
    margin: 21px 0 0;
}

.form-register-note {
    margin: 24px 0 0;
    font-size: 16px;
    line-height: 19px;
    color: #6C6C6C;
}

.form-register-note img {
    position: relative;
    top: 1px;
}

.form-register-button {
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #FFF;
    background: #207BC1 none;
    border-radius: 4px;
    display: block;
    width: 100%;
    max-width: 130px;
    padding: 11px 35px;
    margin: 24px 0 0;
    border: 0;
}

.footer-wrap {
    padding: 40px 0;
}

.company-title {
    text-align: center;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #333;
    text-transform: uppercase;
    margin: 0;
}

.hotline {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #207BC1;
    margin: 25px 0 0;
    text-align: center;
}

.company-note {
    text-align: center;
    font-size: 14px;
    line-height: 16px;
    font-style: italic;
    margin: 12px 0 0;
}

.contact-info {
    margin: 33px 0 0;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
}

.contact-info li {
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    text-decoration: underline;
    margin: 0 48px 0 0;
    font-size: 14px;
    line-height: 16px;
    color: #333;
}

.contact-info li:last-child {
    margin: 0;
}

.contact-info img {
    margin: 0 5px 0 0;
}

.customer-wrap {
    padding: 90px 0 48px;
}

.customer-owl {
    padding: 0 24px;
}

.customer-item {
    background: #FFF none;
    padding: 24px 35px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, .1);
    border-radius: 4px;
    text-align: center;
    opacity: .6;
    margin: 0 20px;
}

.customer-text {
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
}

.customer-avatar {
    line-height: 0;
    margin: 24px 0 0;
}

.customer-owl.owl-carousel .owl-item img {
    display: inline-block;
    width: auto;
}

.customer-avatar img {
    max-width: 40px;
    border-radius: 50%;
}

.customer-name {
    margin: 12px 0 0;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
}

.customer-company {
    margin: 8px 0 0;
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
}

.customer-owl.owl-carousel .owl-stage {
    display: -ms-flexbox;
    display: flex;
    align-items: center;
}

.customer-owl.owl-carousel .owl-item.active .customer-item {
    width: 442px;
    position: relative;
}

.customer-owl.owl-carousel .owl-item.owl-left .customer-item {
    transform: translateX(25px);
}

.customer-owl.owl-carousel .owl-item.owl-right .customer-item {
    transform: translateX(-135px);
}

.customer-owl.owl-carousel .owl-item.center {
    z-index: 9;
}

.customer-owl.owl-carousel .owl-item.center .customer-item {
    width: 690px;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    padding: 40px 55px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, .1);
    opacity: 1;
    margin: 32px 0;
}

.customer-owl.owl-carousel .owl-item.center .customer-text {
    font-size: 16px;
    line-height: 19px;
}

.customer-owl.owl-carousel .owl-item.center .customer-avatar {
    margin: 36px 0 0;
}

.customer-owl.owl-carousel .owl-item.center .customer-avatar img {
    max-width: 80px;
}

.customer-owl.owl-carousel .owl-item.center .customer-name {
    font-size: 16px;
    line-height: 19px;
    margin: 24px 0 0;
}

.customer-owl.owl-carousel .owl-item.center .customer-company {
    margin: 12px 0 0;
    font-size: 16px;
    line-height: 19px;
}

.slider-button {
    width: 56px;
    height: 56px;
    display: block;
}

.slider-button.slider-left {
    background: transparent url('../images/landing/slider-left.png') no-repeat center;
}

.slider-button.slider-right {
    background: transparent url('../images/landing/slider-right.png') no-repeat center;
}

.customer-owl.owl-carousel .owl-nav button {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.customer-owl.owl-carousel .owl-nav button.owl-prev {
    left: -28px;
}

.customer-owl.owl-carousel .owl-nav button.owl-next {
    right: -28px;
}

.register-form label.error {
    color: #C6504D;
    font-size: 14px;
    line-height: 16px;
    margin: 8px 0 0;
    display: block;
    font-weight: 400;
}

.register-form .form-input.error {
    border: 2px solid #C6504D;
}

.register-success {
    display: none;
    max-width: 414px;
    width: 100%;
    border-top: 4px solid #34C191;
    box-shadow: 0 4px 4px rgba(0, 0, 0, .15);
    border-radius: 4px;
}

.register-success .fancybox-button svg {
    color: #34C191;
}

.register-success-img {
    line-height: 0;
    text-align: center;
}

.register-success-title {
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #34C191;
    margin: 24px 0 0;
    text-align: center;
    text-transform: uppercase;
}

.register-success-description {
    margin: 24px 0 0;
    font-size: 14px;
    line-height: 16px;
    color: #333;
    text-align: center;
}

.register-success-back {
    margin: 24px 0 0;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
}

.register-success-back a {
    font-size: 14px;
    line-height: 16px;
    color: #34C191;
    border: 1px solid #34C191;
    border-radius: 4px;
    padding: 8px 11px;
    display: block;
}