/*  Menu Banner */
.navigation-wrap {
    margin: 20px 0 0;
}

.navigation-wrap-row {
    margin: 0 -8px;
}

.navigation-wrap-menu {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
    padding: 0 8px;
}

.menu-title {
    background: #0066CC none;
    border-radius: 6px 6px 0 0;
    color: #fff;
    font-size: 20px;
    line-height: 23px;
    height: 44px;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    font-weight: 700;
}

.menu-title img {
    margin: 0 21px 0 15px;
    -webkit-filter: brightness(0) invert(1);
    filter: brightness(0) invert(1);
}

.menu-main > ol {
    border: 1px solid #BEBEBE;
    border-top: 0;
    overflow: auto;
    max-height: 750px;
}

.menu-main > ol > li {
    padding: 11px;
    border-top: 1px solid #E8E8E8;
}

.menu-main li:first-child {
    border-top: 0;
}

.menu-main > ol > li > a {
    color: #333;
    font-size: 16px;
    line-height: 19px;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    position: relative;
}

.menu-main > ol > li > a img {
    max-width: 24px;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 24px;
    flex: 0 0 24px;
    margin: 0 18px 0 0;
}

.menu-main li:hover a,
.menu-main li a:hover {
    color: #0066CC;
}

.navigation-wrap-banner {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
    padding: 0 8px;
}

.banner-carousel {
    margin: 17px 0 0;
}

.banner-carousel.owl-carousel .owl-nav button,
.banner-owl.owl-carousel .owl-nav button {
    width: 44px;
    height: 44px;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 35px;
    line-height: 1;
    background: rgba(0, 0, 0, .4) none;
    color: #fff;
    border-radius: 50%;
    -webkit-transition: all .3s;
    transition: all .3s;
}

.banner-carousel.owl-carousel .owl-nav button span,
.banner-owl.owl-carousel .owl-nav button span {
    position: relative;
    top: -2px;
}

.banner-carousel.owl-carousel .owl-nav .owl-prev,
.banner-owl.owl-carousel .owl-nav .owl-prev {
    left: 10px;
}

.banner-carousel.owl-carousel .owl-nav .owl-next,
.banner-owl.owl-carousel .owl-nav .owl-next {
    right: 10px;
}

.banner-carousel.owl-carousel .owl-nav button:hover,
.banner-owl.owl-carousel .owl-nav button:hover {
    background: rgba(0, 0, 0, .7) none;
}

.banner-small {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 16px -8px 0;
}

.banner-small-item {
    position: relative;
    width: 100%;
    padding: 0 8px;
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
}

.banner-small-item img {
    width: 100%;
}
/* End Menu Banner */

.banner-category {
    margin: 40px 0 0;
}

.banner-category-title {
    margin: 0;
    text-align: center;
    font-size: 30px;
    line-height: 35px;
    color: #FFF;
    font-weight: 400;
    border-radius: 8px 8px 0 0;
    background: #0066CC none;
    padding: 5px 20px;
}

.banner-owl {
    margin: 23px 0 0;
}

.popup-banner {
    position: fixed;
    bottom: 130px;
    right: 24px;
    z-index: 9;
}

.popup-banner a {
    display: block;
    line-height: 0;
}