.page-title {
    font-size: 14px;
    line-height: 16px;
    font-weight: 700;
    margin: 0;
    display: inline;
}

.menu-suggest-wrap {
    margin: 8px 0 0;
}

.menu-suggest-title {
    font-size: 16px;
    line-height: 19px;
    font-weight: 400;
}

.menu-suggest-wrap ol {
    white-space: nowrap;
    overflow-x: auto;
    display: -ms-flexbox;
    display: flex;
    padding-bottom: 10px;
    position: relative;
    z-index: 1;
    margin: 12px 0 0;
}

.menu-suggest-wrap li {
    margin: 0 8px 0 0;
}

.menu-suggest-wrap li:last-child {
    margin: 0;
}

.menu-suggest-wrap a {
    display: block;
    padding: 5px 10px 4px;
    border: 1px solid #BDBDBD;
    border-radius: 2px;
    background: #fff none;
    font-size: 13px;
    line-height: 15px;
    color: #333;
}