*,
::after,
::before {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 1.5;
    font-weight: 400;
    margin: 0;
    color: #333;
}

img {
    width: auto;
    height: auto;
    max-width: 100%;
}

a {
    -webkit-transition: all .3s;
    transition: all .3s;
    text-decoration: none;
    color: #337ab7;
}

a:focus,
a:hover,
a:active {
    outline: none;
    text-decoration: none;
    color: #23527c;
}

p {
    display: block;
    margin: 0 0 10px;
}

input:focus {
    outline: none;
}

.container {
    width: 100%;
    padding: 0 7px;
    margin: 0 auto;
}

.list-no-style {
    margin: 0;
    padding: 0;
    list-style: none;
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.row-col {
    position: relative;
    width: 100%;
}

.flex-space {
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}

.flex-center {
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
}

/* Header */
.header-wrap {
    background: #207BC1 none;
    padding: 16px 0 12px;
    position: relative;
}

.logo {
    margin: 0;
    line-height: 0;
}

.logo a {
    display: block;
}

.slogan {
    color: #FFF;
    text-align: center;
    font-size: 14px;
    line-height: 16px;
    margin: 12px 0 0;
}

.menu-bar {
    position: absolute;
    top: 23px;
    left: 12px;
    background: transparent url('../images/css/menu-bar.svg') no-repeat center;
    width: 30px;
    height: 24px;
}
/* End Header */

/* Footer */
.footer-wrap {
    padding: 16px 0 24px;
    background: #F1F3F4 none;
}

.logo-footer {
    line-height: 0;
}

.logo-footer a {
    display: block;
}

.company-info {
    margin: 16px 0 0;
    font-size: 13px;
    line-height: 15px;
    text-align: center;
}

.company-info h3 {
    font-weight: 700;
    margin: 0;
    font-size: 13px;
    line-height: 15px;
}

.company-info p {
    margin: 8px 0 0;
}

.company-info a {
    color: #333;
}

.company-info a.hotline {
    font-weight: 700;
}

.logo-certification {
    margin: 8px 0 0;
    line-height: 0;
}

.logo-certification a {
    display: block;
}

.policy {
    margin: 6px 0 0;
}

.policy li {
    font-size: 13px;
    line-height: 15px;
    display: block;
}

.policy li::after {
    content: '';
    display: inline-block;
    position: relative;
    top: 4px;
    height: 16px;
    width: 0;
    border-left: 1px solid #B4AFAF;
    margin: 0 12px;
}

.policy li:last-child::after {
   visibility: hidden;
    margin: 0;
}

.policy a {
    color: #333;
}
/* End Footer */

.menu-wrap {
    display: none;
}