/* Breadcrumb */
.breadcrumbs {
    margin: 12px 0 0;
}

.breadcrumbs ol {
    white-space: nowrap;
    overflow-x: auto;
    padding-bottom: 10px;
    position: relative;
    z-index: 1;
}

.breadcrumbs ol,
.breadcrumbs li {
    display: -ms-flexbox;
    display: flex;
    align-items: center;
}

.breadcrumbs li {
    font-size: 13px;
    line-height: 15px;
    color: #999;
}

.breadcrumbs li a {
    color: #999;
}

.breadcrumbs li::after {
    content: '';
    width: 7px;
    height: 9px;
    background: transparent url('../images/css/css-sprites.png') no-repeat -157px -10px;
    position: relative;
    display: block;
    margin: 0 5px;
}

.breadcrumbs li:last-child::after {
    display: none;
}
/* End Breadcrumb */

/* Article */
.article-item {
    margin: 16px 0 0;
}

.article-item::after {
    content: '';
    display: block;
    clear: both;
}

.article-item .article-img {
    float: left;
    max-width: 29.333333%;
    margin: 0 16px 0 0;
    position: relative;
    width: 100%;
    height: 58px;
    overflow: hidden;
    display: block;
}

.article-item .article-img img {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 100%;
}

.article-item h2 {
    font-size: 14px;
    line-height: 16px;
    font-weight: 700;
    color: #333;
    margin: 9px 0 0;
}

.article-item h3 {
    font-size: 14px;
    line-height: 16px;
    font-weight: 700;
    color: #333;
    margin: 0;
}

.article-time {
    font-size: 12px;
    line-height: 14px;
    margin: 5px 0 0;
    color: #A9A6A6;
    display: inline-block;
    position: relative;
    padding: 0 0 0 14px;
}

.article-time::before {
    content: '';
    width: 10px;
    height: 12px;
    display: block;
    background: transparent url('../images/css/css-sprites.png') no-repeat -42px -85px;
    position: absolute;
    top: 2px;
    left: 0;
}

.article-box-title {
    font-size: 20px;
    line-height: 23px;
    font-weight: 400;
    color: #333;
    margin: 0;
}

.article-category .article-item .article-img {
    height: 67px;
    max-width: 32%;
    margin: 0 8px 0 0;
}
/* End Article */

/* Sidebar Box */
.sidebar-box-wrap {
    margin: 16px 0 0;
}

.sidebar-box {
    margin: 16px 0 0;
}

.sidebar-box:nth-child(1) {
    margin: 0;
}

.ads-box {
    text-align: center;
}

.ads-box .href-img {
    display: inline-block;
}
/* End Sidebar Box */

/* Menu Blog */
.menu-blog-wrap {
    position: -webkit-sticky;
    position: sticky;
    top: 60px;
    background: #FFF none;
    z-index: 99;
}

.menu-blog-wrap::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 9px;
    width: 100%;
    height: 0;
    border-bottom: 1px solid #BDBDBD;
    display: block;
}

.menu-blog {
    white-space: nowrap;
    overflow-x: auto;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    position: relative;
    padding: 0 0 10px;
}

.menu-blog li {
    margin: 0 26px 0 0;
}

.menu-blog li:last-child {
    margin: 0;
}

.menu-blog li a {
    font-size: 14px;
    line-height: 16px;
    height: 40px;
    padding: 13px 0 11px;
    color: #333;
    text-transform: uppercase;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    position: relative;
}

.menu-blog li.has-child a::after {
    content: '';
    width: 11px;
    height: 8px;
    display: block;
    margin: 0 0 0 4px;
    background: transparent url('../images/css/css-sprites.png') no-repeat -41px -117px;
}

.menu-blog li.has-child.active a::after {
    background: transparent url('../images/css/css-sprites.png') no-repeat -10px -117px;
}

.menu-blog li:first-child a {
    line-height: 0;
    padding: 9px 0;
    width: 23px;
}

.menu-blog li.active a::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0;
    border-bottom: 2px solid #207BC1;
    display: block;
}

.menu-blog li.active a {
    color: #207BC1;
}

.menu-blog img {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.menu-blog li.active img {
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
}
/* End Menu Blog */

.pagination-more {
    margin: 16px 0 0;
    font-size: 14px;
    line-height: 16px;
    font-weight: 700;
    cursor: pointer;
    color: #207BC1;
    text-align: center;
}

.author-wrap {
    margin: 16px 0 0;
    padding: 17px 12px;
    background: #F8F8F8 none;
    border-bottom: 2px solid #FF4200;
}

.author-content {
    display: -ms-flexbox;
    display: flex;
    align-items: center;
}

.author-img {
    max-width: 103px;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 103px;
    flex: 0 0 103px;
    margin: 0 17px 0 0;
    position: relative;
    height: 103px;
}

.author-img img {
    position: absolute;
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.author-info-wrap {
    font-size: 14px;
    line-height: 16px;
    margin: 22px 0 0;
}

.author-info-wrap p {
    margin: 0 0 5px;
}

.author-info-wrap p:last-child {
    margin: 0;
}

.author-title {
    font-size: 28px;
    line-height: 33px;
    color: #207BC1;
    font-weight: 700;
}

.author-social {
    margin: 10px 0 0;
}

.author-social ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
}

.author-social li {
    margin: 0 10px 0 0;
}

.author-social li:last-child {
    margin: 0;
}

.author-social a {
    line-height: 0;
    display: block;
}

.author-social i {
    width: 26px;
    height: 26px;
    display: block;
    line-height: 0;
}

.author-facebook {
    background: transparent url('../images/css/social.png') no-repeat -10px -10px;
}

.author-instagram {
    background: transparent url('../images/css/social.png') no-repeat -56px -10px;
}

.author-linkedin {
    background: transparent url('../images/css/social.png') no-repeat -10px -56px;
}

.author-post-title {
    font-size: 20px;
    line-height: 23px;
    font-weight: 400;
    margin: 16px 0 0;
}