/* Breadcrumb */
.breadcrumbs {
    margin: 12px 0 0;
}

.breadcrumbs ol {
    white-space: nowrap;
    overflow-x: auto;
    padding-bottom: 10px;
    position: relative;
    z-index: 1;
}

.breadcrumbs ol,
.breadcrumbs li {
    display: -ms-flexbox;
    display: flex;
    align-items: center;
}

.breadcrumbs li {
    font-size: 13px;
    line-height: 15px;
    color: #999;
}

.breadcrumbs li a {
    color: #999;
}

.breadcrumbs li::after {
    content: '';
    width: 7px;
    height: 9px;
    background: transparent url('../images/css/css-sprites.png') no-repeat -157px -10px;
    position: relative;
    display: block;
    margin: 0 5px;
}

.breadcrumbs li:last-child::after {
    display: none;
}
/* End Breadcrumb */

/* Deal Product */
.deal-product {
    margin: 25px 0 0;
}

.deal-product-title {
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}

.deal-product-title h2 {
    font-size: 20px;
    line-height: 23px;
    font-weight: 400;
    color: #FF4200;
    margin: 0;
}

.deal-product-title h2 a {
    color: #FF4200;
}

.deal-product-nav {
    margin: 10px 0 0;
}

.deal-product-nav ol {
    white-space: nowrap;
    overflow-x: auto;
    display: -ms-flexbox;
    display: flex;
    padding-bottom: 10px;
    position: relative;
    z-index: 1;
}

.deal-product-nav li {
    margin: 0 8px 0 0;
}

.deal-product-nav li:last-child {
    margin: 0;
}

.deal-product-nav h3 {
    display: block;
    padding: 5px 10px 4px;
    border: 1px solid #BDBDBD;
    border-radius: 2px;
    background: #fff none;
    font-size: 13px;
    line-height: 15px;
    color: #333;
    cursor: pointer;
    margin: 0;
    font-weight: 400;
}

.deal-product-nav h3.active {
    color: #207BC1;
    background: #F2F0F0 none;
}

.deal-product-content {
    margin: 15px 0 0;
}

.deal-product-panel {
    display: none;
}

.deal-product-panel.active {
    display: block;
}

.deal-product-panel ul {
    white-space: nowrap;
    overflow-x: auto;
    display: -ms-flexbox;
    display: flex;
    padding-bottom: 10px;
    position: relative;
    z-index: 1;
}

.deal-product-panel li {
    margin: 0 8px 0 0;
    min-width: 148px;
}

.deal-product-panel li:last-child {
    margin: 0;
}

.deal-product-item a {
    border: 1px solid #BDBDBD;
    background: #F3F3F3 none;
    padding: 8px 8px 0;
    white-space: normal;
    display: block;
}

.deal-product-item .product-img {
    height: 110px;
}

.deal-product-item h3 {
    font-size: 12px;
    line-height: 14px;
    margin: 8px -8px 0;
    padding: 8px 8px 0;
    background: #FFF none;
    font-weight: 400;
    color: #666;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    min-height: 36px;
}

.deal-product-bottom {
    margin: 0 -8px 0;
    padding: 8px 8px 10px;
    background: #FFF none;
    display: block;
}

.deal-product-price {
    display: block;
    font-size: 15px;
    line-height: 18px;
    color: #DE1F1F;
}

.deal-product-sale {
    margin: 3px 0 0;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
}

.deal-product-regular {
    font-size: 12px;
    line-height: 14px;
    text-decoration: line-through;
    color: #666;
}

.deal-product-percent {
    font-size: 13px;
    line-height: 15px;
    font-weight: 700;
    color: #333;
    margin: 0 0 0 5px;
}
/* End Deal Product */

/* Article */
.article-sticky {
    margin: 6px 0 0;
}

.article-item {
    margin: 16px 0 0;
}

.article-item::after {
    content: '';
    display: block;
    clear: both;
}

.article-item .article-img {
    float: left;
    max-width: 32%;
    margin: 0 8px 0 0;
    position: relative;
    width: 100%;
    height: 67px;
    overflow: hidden;
    display: block;
}

.article-item .article-img img {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 100%;
}

.article-item h2 {
    font-size: 14px;
    line-height: 16px;
    font-weight: 700;
    color: #333;
    margin: 9px 0 0;
}

.article-item h3 {
    font-size: 14px;
    line-height: 16px;
    font-weight: 700;
    color: #333;
    margin: 0;
}

.article-time {
    font-size: 12px;
    line-height: 14px;
    margin: 5px 0 0;
    color: #A9A6A6;
    display: inline-block;
    position: relative;
    padding: 0 0 0 14px;
}

.article-time::before {
    content: '';
    width: 10px;
    height: 12px;
    display: block;
    background: transparent url('../images/css/css-sprites.png') no-repeat -42px -85px;
    position: absolute;
    top: 2px;
    left: 0;
}

.article-sticky .article-item:nth-child(1) {
    margin: 0;
}

.article-sticky .article-item:nth-child(2) {
    margin: 24px 0 0;
}

.article-sticky .article-item:nth-child(1) .article-img {
    float: none;
    max-width: 100%;
    height: 232px;
    margin: 0;
}

.article-category {
    margin: 24px 0 0;
}

.article-category-wrap {
    margin: 16px 0 0;
    padding: 0 0 16px;
    border-bottom: 1px solid #FF4200;
}

.article-category-wrap:first-child {
    margin: 0;
}

.article-category-wrap:last-child {
    padding: 0;
    border-bottom: 0;
}

.article-category-title {
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}

.article-category-title h2 {
    font-size: 20px;
    line-height: 23px;
    color: #FF4200;
    margin: 0;
    font-weight: 400;
}

.article-category-title h2 a {
    color: #FF4200;
}

.article-category-more {
    display: block;
    line-height: 0;
    margin: 0 0 0 20px;
    max-width: 77px;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 77px;
    flex: 0 0 77px;
}
/* End Article */

/* Sidebar Box */
.sidebar-box-wrap {
    margin: 16px 0 0;
}

.sidebar-box {
    margin: 16px 0 0;
}

.sidebar-box:nth-child(1) {
    margin: 0;
}

.deal-box {
    padding: 17px 11px 27px;
    background: #EEE none;
}

.deal-box-title {
    display: block;
    font-size: 20px;
    line-height: 23px;
    font-weight: 400;
}

.deal-box ol {
    margin: 11px 0 0;
}

.deal-box li {
    margin: 0 0 8px;
}

.deal-box li:last-child {
    margin: 0;
}

.deal-box a {
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    font-size: 16px;
    line-height: 19px;
    color: #333;
}

.deal-box a::before {
    content: '';
    display: block;
    position: relative;
    background: transparent url('../images/css/css-sprites.png') no-repeat -10px -10px;
    margin: 0 7px 0 0;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 24px;
    flex: 0 0 24px;
    height: 24px;
    width: 24px;
}

.ads-box {
    text-align: center;
}

.ads-box .href-img {
    display: inline-block;
}
/* End Sidebar Box */

/* Menu Blog */
.menu-blog-wrap {
    position: -webkit-sticky;
    position: sticky;
    top: 60px;
    background: #FFF none;
    z-index: 99;
}

.menu-blog-wrap::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 9px;
    width: 100%;
    height: 0;
    border-bottom: 1px solid #BDBDBD;
    display: block;
}

.menu-blog {
    white-space: nowrap;
    overflow-x: auto;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    position: relative;
    padding: 0 0 10px;
}

.menu-blog li {
    margin: 0 26px 0 0;
}

.menu-blog li:last-child {
    margin: 0;
}

.menu-blog li a {
    font-size: 14px;
    line-height: 16px;
    height: 40px;
    padding: 13px 0 11px;
    color: #333;
    text-transform: uppercase;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    position: relative;
}

.menu-blog li.has-child a::after {
    content: '';
    width: 11px;
    height: 8px;
    display: block;
    margin: 0 0 0 4px;
    background: transparent url('../images/css/css-sprites.png') no-repeat -41px -117px;
}

.menu-blog li.has-child.active a::after {
    background: transparent url('../images/css/css-sprites.png') no-repeat -10px -117px;
}

.menu-blog li:first-child a {
    line-height: 0;
    padding: 9px 0;
    width: 23px;
}

.menu-blog li.active a::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0;
    border-bottom: 2px solid #207BC1;
    display: block;
}

.menu-blog li.active a {
    color: #207BC1;
}

.menu-blog img {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.menu-blog li.active img {
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
}
/* End Menu Blog */

.page-title {
    color: #FF4200;
    margin: 0 0 10px;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
}