*,
::after,
::before {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 1.5;
    font-weight: 400;
    margin: 0;
    color: #333;
    background: #FFF none;
}

body.no-scroll,
body.no-scroll-background {
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

body.no-scroll::before,
body.no-scroll-background::before {
    content: '';
    background: rgba(1, 1, 1, .74) none;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    display: block;
    z-index: 999;
}

img {
    width: auto;
    height: auto;
    max-width: 100%;
}

a {
    -webkit-transition: all .3s;
    transition: all .3s;
    text-decoration: none;
    color: #337ab7;
}

a:focus,
a:hover,
a:active {
    outline: none;
    text-decoration: none;
    color: #23527c;
}

p {
    display: block;
    margin: 0 0 10px;
}

input:focus {
    outline: none;
}

.container {
    width: 100%;
    padding: 0 7px;
    margin: 0 auto;
}

.text-center {
    text-align: center;
}

.clearfix::after {
    content: '';
    display: block;
    clear: both;
}

.list-no-style {
    margin: 0;
    padding: 0;
    list-style: none;
}

.href-img {
    line-height: 0;
    display: block;
}

.header-wrap {
    padding: 20px 0 0;
    background: #207BC1 none;
}

.logo {
    margin: 0;
    text-align: center;
    line-height: 0;
}

.logo .href-img {
    display: inline-block;
}

.logo img {
    max-width: 180px;
}

.search-header {
    padding: 10px 0;
    background: #207BC1 none;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 99;
}

.search-header .menu-mobile-btn {
    display: none;
    top: 19px;
    left: 7px;
}

.search-form {
    padding: 0 10px 0 25px;
    background: #fff none;
    border-radius: 20px;
    width: 100%;
    position: relative;
    display: block;
    -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.11);
    box-shadow: 0 4px 4px rgba(0, 0, 0, .11);
}

.search-input {
    height: 40px;
    padding: 8px 10px 7px 0;
    border: 0;
    float: left;
    font-size: 14px;
    color: #828080;
    width: -webkit-calc(100% - 40px);
    width: -moz-calc(100% - 40px);
    width: calc(100% - 40px);
    display: block;
    overflow: visible;
    outline-offset: -2px;
    -webkit-appearance: none;
    font-weight: 400;
    line-height: 1.5;
}

.search-btn {
    width: 40px;
    height: 40px;
    display: block;
    float: left;
    background: transparent url('../images/css/css-sprites.png') no-repeat -45px -1px;
    border: 0;
    cursor: pointer;
}

.search-header.fixed .search-header-wrap {
    padding: 0 0 0 45px;
}

.search-header.fixed .menu-mobile-btn {
    display: block;
}

.menu-mobile-btn {
    position: absolute;
    top: 29px;
    left: 13px;
    z-index: 99;
    cursor: pointer;
}

.menu-mobile-wrap {
    position: fixed;
    top: 0;
    left: 0;
    width: 300px;
    -webkit-transform: translateX(-300px);
    -ms-transform: translateX(-300px);
    transform: translateX(-300px);
    height: 100%;
    background: #FFF none;
    -webkit-transition: all .3s;
    transition: all .3s;
    z-index: 99999;
    overflow: auto;
    padding: 15px 0 0;
}

.menu-mobile-wrap.active {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
}

.menu-mobile-wrap > ol {
    margin: 0 0 15px;
}

.menu-mobile-wrap > ol > li,
.menu-mobile-wrap .menu-mobile-label .submenu li {
    padding: 12px 12px 12px 22px;
    border-bottom: 1px solid #E8E8E8;
    position: relative;
}

.menu-mobile-wrap .menu-mobile-label .submenu .submenu li {
    border-bottom: 0;
    padding: 5px 12px 5px 51px;
}

.menu-mobile-wrap > ol > li.menu-mobile-label {
    color: #FF4200;
    border-bottom: 0;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    padding: 16px 12px 8px 22px;
}

.menu-mobile-wrap .menu-mobile-label .submenu a {
    color: #333;
    font-size: 15px;
    line-height: 18px;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    position: relative;
    font-weight: 400;
    max-width: -webkit-calc(100% - 40px);
    max-width: -moz-calc(100% - 40px);
    max-width: calc(100% - 40px);
}

.menu-mobile-wrap .menu-mobile-label .submenu img {
    max-width: 17px;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 17px;
    flex: 0 0 17px;
    margin: 0 12px 0 0;
}

.menu-mobile-wrap > ol > li.menu-mobile-label > a {
    color: #FF4200;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
}

.menu-mobile-wrap .submenu {
    padding: 16px 0 4px 29px;
    display: none;
}

.menu-mobile-wrap .menu-mobile-label .submenu {
    padding: 0;
}

.menu-mobile-wrap .menu-mobile-label .submenu ol {
    margin: 8px -12px 0 -22px;
}

.menu-mobile-wrap .menu-mobile-label .submenu .submenu ol {
    margin-top: 11px;
}

.menu-mobile-wrap .menu-mobile-label.has-child .submenu li {
    margin: 0;
}

.menu-mobile-wrap .submenu li a {
    font-size: 14px;
    line-height: 16px;
    color: #333;
}

.menu-mobile-wrap .menu-mobile-label .menu-has-child {
    width: 20px;
    height: 20px;
    background: transparent url('../images/css/css-sprites.png') no-repeat -90px -40px;
    display: block;
    position: absolute;
    right: 14px;
    top: 16px;
}

.menu-mobile-wrap .menu-has-child.active {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.menu-mobile-wrap .submenu .menu-has-child {
    width: 20px;
    height: 20px;
    background: transparent url('../images/css/css-sprites.png') no-repeat -67px -82px;
    display: block;
    position: absolute;
    top: 12px;
    right: 12px;
}

.login-form {
    margin: 8px -12px 0 -22px;
}

.login-form-btn {
    padding: 12px 12px 12px 22px;
    border-top: 1px solid #E8E8E8;
}

.login-form-btn:nth-child(1) {
    border-top: 0;
}

.login-facebook,
.login-google {
    border: 0;
    color: #333;
    font-size: 15px;
    line-height: 18px;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    padding: 0;
    position: relative;
    font-weight: 400;
    max-width: -webkit-calc(100% - 20px);
    max-width: -moz-calc(100% - 20px);
    max-width: calc(100% - 20px);
    white-space: nowrap;
    background: transparent none;
}

.menu-mobile-wrap .menu-mobile-label .submenu .login-facebook img {
    max-width: 8px;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 8px;
    flex: 0 0 8px;
    margin: 0 21px 0 0;
}

.menu-mobile-wrap .menu-mobile-label .submenu .login-google img {
    max-width: 16px;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 16px;
    flex: 0 0 16px;
    margin: 0 13px 0 0;
}

.menu-mobile-wrap .menu-mobile-label .submenu .login-sucess-action img {
    max-width: 8px;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 8px;
    flex: 0 0 8px;
    margin: 0 21px 0 0;
}

.menu-mobile-wrap .menu-mobile-label .submenu .login-sucess-action li:last-child {
    border-bottom: 0;
}

.search-wrap {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #fff none;
    z-index: 9999;
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
    -webkit-transition: all .3s;
    transition: all .3s;
}

.search-wrap.active {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
}

.search-wrap-header {
    background: #207BC1 none;
    padding: 12px;
    margin: 0;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}

.search-wrap-close {
    max-width: 23px;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 23px;
    flex: 0 0 23px;
    margin: 0 23px 0 0;
    line-height: 0;
    cursor: pointer;
}

.search-wrap-header .search {
    margin: 0;
    width: 100%;
    display: block;
}

.search-wrap-result {
    margin: 0;
    padding: 0 7px;
    height: -webkit-calc(100% - 64px);
    height: -moz-calc(100% - 64px);
    height: calc(100% - 64px);
    overflow: auto;
}

.search-wrap-title {
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #FF4200;
    margin: 15px 0 0;
}

.search-result {
    padding: 0 0 10px;
}

.search-result a {
    float: left;
    display: block;
    font-size: 13px;
    line-height: 15px;
    color: #333;
    padding: 5px 10px 4px;
    margin: 16px 8px 0 0;
    border: 1px solid #BDBDBD;
    border-radius: 2px;
}

.search-suggest {
    margin: 0 -7px;
}

.search-suggest li:nth-child(2n) {
    background: #F8FBFF none;
}

.search-suggest li a {
    display: block;
    padding: 13px 7px 12px;
    font-size: 13px;
    line-height: 15px;
    color: #333;
}

.search-suggest .category {
    color: #28A2B2;
}

.search-suggest .result-store .keyword {
    display: block;
}

.search-suggest .result-store .store {
    margin: 3px 0 0;
    display: block;
}

.search-suggest .result-store .store .price {
    color: #DE1F1F;
    font-weight: 700;
}

.solution-wrap {
    padding: 32px 0;
}

.solution-img {
    line-height: 0;
    padding: 0 20px;
    text-align: center;
}

.solution-content {
    text-align: center;
    padding: 0 60px;
    margin: 32px 0 0;
}

.solution-text {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #333;
    margin: 12px 0 0;
}

.solution-text:nth-child(1) {
    margin: 0;
}

.solution-title {
    font-size: 18px;
    line-height: 21px;
    font-weight: 700;
    color: #333;
    margin: 12px 0 0;
}

.button-register {
    display: block;
    width: 100%;
    padding: 9px 21px;
    background: #207BC1;
    border-radius: 4px;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: #FFF;
    max-width: 136px;
    margin: 25px auto 0;
}

.button-register:hover,
.button-register:focus {
    color: #FFF;
}

.benefit-wrap {
    padding: 32px 0;
    background: #F4F6FB none;
}

.section-title {
    font-size: 18px;
    line-height: 21px;
    font-weight: 700;
    color: #333;
    margin: 0;
    position: relative;
    text-align: center;
}

.section-title::after {
    content: '';
    display: block;
    width: 80px;
    height: 4px;
    background: #207BC1 none;
    border-radius: 4px;
    position: relative;
    margin: 12px auto 0;
}

.benefit-content {
    margin: 32px 0 0;
}

.benefit-item {
    margin: 24px 0 0;
    padding: 0 30px;
}

.benefit-item:nth-child(1) {
    margin: 0;
}

.benefit-img {
    text-align: center;
    line-height: 0;
}

.benefit-title {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #333;
    text-align: center;
}

.benefit-description {
    font-size: 12px;
    line-height: 14px;
    color: #333;
    text-align: center;
    margin: 12px 0 0;
}

.about-wrap {
    padding: 32px 0;
}

.about-video {
    margin: 24px 0 0;
    padding: 0 30px;
    text-align: center;
}

.about-video a {
    display: block;
    line-height: 0;
    position: relative;
}

.about-video a::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 28px;
    height: 28px;
    display: block;
    background: transparent url('../images/landing/icon-video.png') no-repeat center;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.about-video img {
    width: 100%;
    border-radius: 4px;
}

.section-description {
    padding: 0 30px;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    color: #333;
    margin: 16px 0 0;
}

.fancybox-slide.fancybox-slide--video {
    padding: 44px 7px;
}

.feature-wrap {
    padding: 32px 0;
    background: #F4F6FB none;
}

.feature-img {
    margin: 32px 0 0;
    padding: 0 60px;
}

.feature-info {
    padding: 0 60px;
    display: -ms-flexbox;
    display: flex;
    margin: 12px 0 0;
}

.feature-info:nth-child(1) {
    margin: 16px 0 0;
}

.feature-owl.owl-carousel .owl-item .feature-info-icon img {
    width: auto;
}

.feature-info-content {
    max-width: 186px;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 186px;
    flex: 0 0 186px;
    font-size: 12px;
    line-height: 14px;
    color: #333;
    margin: 0 0 0 12px;
}

.feature-owl.owl-carousel .owl-dots {
    margin: 16px 0 0;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
}

.feature-owl.owl-carousel .owl-dot {
    border: 1px solid #333;
    background: #FFF none;
    height: 12px;
    border-radius: 50%;
    display: block;
    margin: 0 0 0 19px;
    max-width: 12px;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 12px;
    flex: 0 0 12px;
}

.feature-owl.owl-carousel .owl-dot:nth-child(1) {
    margin: 0;
}

.feature-owl.owl-carousel .owl-dot:hover,
.feature-owl.owl-carousel .owl-dot.active {
    background: #207BC1 none;
    border: 1px solid #207BC1;
}

.customer-wrap {
    padding: 32px 0;
}

.customer-item {
    margin: 32px 38px 12px;
    padding: 16px 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, .1);
    border-radius: 4px;
    background: #FFF none;
    text-align: center;
}

.customer-text {
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: #333;
}

.customer-avatar {
    margin: 12px 0 0;
}

.customer-owl.owl-carousel .owl-item .customer-avatar img {
    width: auto;
    display: inline-block;
    max-width: 32px;
    border-radius: 50%;
}

.customer-name {
    margin: 12px 0 0;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: #333;
}

.customer-company {
    color: #333;
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
    margin: 8px 0 0;
}

.slider-button {
    width: 24px;
    height: 24px;
    display: block;
}

.slider-button.slider-left {
    background: transparent url('../images/landing/btn-prev.png') no-repeat center;
}

.slider-button.slider-right {
    background: transparent url('../images/landing/btn-next.png') no-repeat center;
}

.customer-owl.owl-carousel .owl-nav button {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.customer-owl.owl-carousel .owl-nav button.owl-prev {
    left: 0;
}

.customer-owl.owl-carousel .owl-nav button.owl-next {
    right: 0;
}

.register-wrap {
    padding: 32px 0;
    background: #F4F6FB none;
}

.register-form {
    display: block;
    padding: 0 30px;
    margin: 32px 0 0;
}

.register-form-row {
    display: block;
    margin: 16px 0 0;
}

.register-form-row:nth-child(1) {
    margin: 0;
}

.register-form label {
    display: block;
    margin: 0;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: #333;
}

.register-form .form-input {
    border: 1px solid #DBDADD;
    background: #FFF none;
    border-radius: 4px;
    display: block;
    outline-offset: -2px;
    -webkit-appearance: none;
    height: 32px;
    font-family: inherit;
    padding: 8px 16px 7px;
    width: 100%;
    font-size: 12px;
    line-height: 1.5;
    margin: 12px 0 0;
}

.form-register-note {
    margin: 12px 0 0;
    font-size: 12px;
    line-height: 14px;
    color: #6C6C6C;
}

.form-register-button {
    text-align: center;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: #FFF;
    background: #207BC1 none;
    border-radius: 4px;
    display: block;
    width: 100%;
    max-width: 110px;
    padding: 9px 32px;
    margin: 16px auto 0;
    border: 0;
}

.footer-wrap {
    padding: 32px 0;
}

.company-title {
    font-size: 14px;
    line-height: 16px;
    margin: 0;
    font-weight: 700;
    color: #333;
    text-align: center;
    text-transform: uppercase;
}

.hotline {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    margin: 16px 0 0;
    text-align: center;
    color: #207BC1;
}

.company-note {
    text-align: center;
    font-size: 14px;
    line-height: 16px;
    font-style: italic;
    margin: 12px 0 0;
    color: #333;
}

.contact-info {
    margin: 13px 0 0;
}

.contact-info li {
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    text-decoration: underline;
    -webkit-justify-content: center;
    justify-content: center;
    margin: 12px 0 0;
    font-size: 12px;
    line-height: 14px;
    color: #333;
}

.contact-info li:first-child {
    margin: 0;
}

.contact-info img {
    margin: 0 3px 0 0;
}

.register-form label.error {
    color: #C6504D;
    font-size: 10px;
    line-height: 12px;
    margin: 8px 0 0;
    display: block;
    font-weight: 400;
}

.register-form .form-input.error {
    border: 1px solid #C6504D;
}

.register-success {
    display: none;
    max-width: 320px;
    padding: 44px 19px;
    width: 100%;
    border-top: 4px solid #34C191;
    box-shadow: 0 4px 4px rgba(0, 0, 0, .15);
    border-radius: 4px;
}

.register-success .fancybox-button svg {
    color: #34C191;
}

.register-success-img {
    line-height: 0;
    text-align: center;
}

.register-success-title {
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: #34C191;
    margin: 24px 0 0;
    text-align: center;
    text-transform: uppercase;
}

.register-success-description {
    margin: 16px 0 0;
    font-size: 12px;
    line-height: 14px;
    color: #333;
    text-align: center;
}

.register-success-back {
    margin: 16px 0 0;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
}

.register-success-back a {
    font-size: 12px;
    line-height: 14px;
    color: #34C191;
    border: 1px solid #34C191;
    border-radius: 4px;
    padding: 9px 19px;
    display: block;
}