/* Breadcrumb */
.breadcrumbs {
    margin: 10px 0 0;
}

.breadcrumbs ol {
    white-space: nowrap;
    overflow-x: auto;
    padding-bottom: 10px;
    position: relative;
    z-index: 1;
}

.breadcrumbs ol,
.breadcrumbs li {
    display: -ms-flexbox;
    display: flex;
    align-items: center;
}

.breadcrumbs li {
    font-size: 13px;
    line-height: 15px;
    color: #999;
}

.breadcrumbs li a {
    color: #999;
}

.breadcrumbs li::after {
    content: '';
    width: 7px;
    height: 9px;
    background: transparent url('../images/css/css-sprites.png') no-repeat -157px -10px;
    position: relative;
    display: block;
    margin: 0 5px;
}

.breadcrumbs li:last-child::after {
    display: none;
}
/* End Breadcrumb */

.product-img {
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
}

.product-img img {
    max-height: 100%;
}

.page-wrap {
    margin: 10px 0 0;
}

.page-title {
    font-size: 14px;
    line-height: 16px;
    font-weight: 700;
    margin: 0;
    display: inline;
}

.menu-suggest-wrap {
    margin: 8px 0 0;
}

.menu-suggest-title {
    font-size: 16px;
    line-height: 19px;
    font-weight: 400;
}

.menu-suggest-wrap ol {
    white-space: nowrap;
    overflow-x: auto;
    display: -ms-flexbox;
    display: flex;
    padding-bottom: 10px;
    position: relative;
    z-index: 1;
    margin: 12px 0 0;
}

.menu-suggest-wrap li {
    margin: 0 8px 0 0;
}

.menu-suggest-wrap li:last-child {
    margin: 0;
}

.menu-suggest-wrap a {
    display: block;
    padding: 5px 10px 4px;
    border: 1px solid #BDBDBD;
    border-radius: 2px;
    background: #fff none;
    font-size: 13px;
    line-height: 15px;
    color: #333;
}

.page-content-header {
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    margin: 16px 0 0;
    align-items: baseline;
}

.category-text {
    font-size: 14px;
    line-height: 16px;
    color: #333;
}

.filter-icon {
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    font-size: 12px;
    line-height: 14px;
    color: #333;
    cursor: pointer;
    margin: 0 0 0 20px;
    max-width: 60px;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 60px;
    flex: 0 0 60px;
}

.filter-icon img {
    margin: 0 0 0 6px;
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.row-col {
    position: relative;
    width: 100%;
}

.page-content-wrap.product-list {
    margin: 8px 0 0;
}

.product-list ul.row {
    margin: -7px -3px 0;
}

.product-list li.product-item {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
    padding: 0 3px;
    margin: 7px 0 0;
}

.product-item a {
    display: block;
    border: 1px solid #BDBDBD;
    background: #FFF none;
    padding: 10px;
    position: relative;
    height: 100%;
}

.offer-icon {
    background: #4CAF50 none;
    width: 55px;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 0 12px 12px 0;
    font-size: 12px;
    line-height: 14px;
    padding: 5px 0;
    color: #FFF;
    text-align: center;
    z-index: 1;
}

.gift-icon {
    display: block;
    position: absolute;
    top: 4px;
    right: 4px;
    border-radius: 50%;
    z-index: 1;
}

.gift-icon img {
    border-radius: 50%;
}

.product-item .product-img {
    height: 120px;
}

.product-item h3 {
    font-size: 12px;
    line-height: 14px;
    color: #666;
    margin: 12px 0 0;
    font-weight: 400;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    min-height: 28px;
}

.product-meta {
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    margin: 6px 0 0;
}

.product-price {
    font-size: 15px;
    line-height: 18px;
    display: block;
    color: #DE1F1F;
}

.product-percent {
    display: block;
    font-size: 14px;
    line-height: 16px;
    color: #333;
    margin: 0 0 0 8px;
}

.product-shipping {
    margin: 6px 0 0;
    padding: 0 0 0 16px;
    font-size: 12px;
    line-height: 14px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    min-height: 28px;
    position: relative;
}

.product-shipping i {
    position: absolute;
    top: 1px;
    left: 0;
}

.price-waring {
    font-size: 12px;
    line-height: 14px;
    color: #333;
    min-height: 14px;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    margin: 4px 0 0;
}

.price-waring img {
    margin: 0 3px 0 0;
}

.product-store {
    margin: 3px 0 0;
    font-size: 13px;
    line-height: 15px;
    color: #333;
    display: block;
}

.bad-merchant-text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(238, 238, 238, .9) none;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: #DE1F1F;
    text-align: center;
    padding: 16px;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
}

.pagination-more {
    margin: 16px 0 0;
    font-size: 14px;
    line-height: 16px;
    font-weight: 700;
    cursor: pointer;
    color: #207BC1;
    text-align: center;
}

.category-description {
    margin: 16px 0 0;
    border: 1px solid #A3A3A3;
    padding: 12px;
}

.category-description-wrap {
    max-height: 312px;
    overflow: hidden;
}

.category-description-wrap.active {
    max-height: none;
}

.category-description-wrap p {
    margin: 0 0 15px;
}

.category-description-wrap p:last-child {
    margin: 0;
}

.category-description-wrap ul {
    margin: 0 0 15px;
    padding: 0 0 0 15px;
}

.category-description-wrap li {
    margin: 0 0 15px;
}

.read-more {
    margin: 15px 0 0;
    text-align: center;
}

.read-more span {
    font-size: 16px;
    line-height: 19px;
    padding: 7px 20px 6px;
    display: inline-block;
    color: #FFF;
    background: #207BC1 none;
    border-radius: 4px;
    cursor: pointer;
}

/* Article */
.article-wrap {
    margin: 25px 0 0;
}

.article-wrap-title {
    font-size: 20px;
    line-height: 23px;
    font-weight: 400;
    color: #333;
}

.article-item {
    margin: 16px 0 0;
}

.article-item a {
    display: -ms-flexbox;
    display: flex;
}

.article-img {
    max-width: 110px;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 110px;
    flex: 0 0 110px;
    margin: 0 16px 0 0;
    position: relative;
    overflow: hidden;
    height: 58px;
}

.article-img img {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 100%;
}

.article-item h3 {
    font-size: 14px;
    line-height: 16px;
    font-weight: 700;
    margin: 0;
    color: #333;
    width: 100%;
    display: block;
}

.article-ads-item {
    margin: 16px 0 0;
    text-align: center;
    line-height: 0;
}

.article-ads-item a {
    display: inline-block;
}
/* End Article */

.filter-wrap {
    position: fixed;
    width: 100%;
    max-width: 271px;
    top: 0;
    right: 0;
    height: 100%;
    background: #FFF none;
    z-index: -1;
    -webkit-transition: all .3s;
    transition: all .3s;
    -webkit-transform: translateX(271px);
    -ms-transform: translateX(271px);
    transform: translateX(271px);
}

.filter-wrap::after {
    content: '';
    position: fixed;
    width: 100%;
    max-width: 271px;
    top: 0;
    right: 0;
    height: 100%;
    background: #FFF none;
    z-index: -1;
}

.fitler-container {
    height: 100%;
    position: relative;
    overflow-y: scroll;
}

.filter-wrap-box {
    padding: 0 20px 20px;
    min-height: -webkit-calc(100% - 106px);
    min-height: -moz-calc(100% - 106px);
    min-height: calc(100% - 106px);
}

.filter-action {
    border-top: 1px solid #EAEAEA;
    padding: 8px 20px;
    position: relative;
    width: 100%;
    max-width: 271px;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
    background: #FFF none;
}

.filter-reset {
    font-size: 14px;
    line-height: 16px;
    color: #807F7F;
    margin: 0 16px 0 0;
    cursor: pointer;
}

.filter-btn {
    background: #F4F4F4;
    border: 1px solid #828282;
    border-radius: 3px;
    font-size: 14px;
    line-height: 16px;
    color: #333;
    display: block;
    padding: 8px 13px;
    cursor: pointer;
}

.filter-box-item {
    margin: 20px -20px 0;
    padding: 12px 20px 0;
    border-top: 1px solid #EAEAEA;
}

.filter-box-item:nth-child(1) {
    border-top: 0;
    padding-top: 0;
    margin-top: 0;
}

.filter-box-title {
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #333;
}

.filter-list .filter-parent {
    margin: 12px 0 0;
    max-height: 151px;
    overflow-y: scroll;
}

.filter-list-item {
    display: block;
    margin: 8px 0 0;
}

.filter-list-item:nth-child(1) {
    margin-top: 0;
}

.fitler-radio-label {
    cursor: pointer;
    font-size: 14px;
    line-height: 20px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin: 0;
    display: block;
    font-weight: 400;
}

.fitler-radio-label::after {
    content: '';
    display: block;
    clear: both;
}

.fitler-radio-label input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.check-mark {
    height: 16px;
    width: 16px;
    background: #CFCACA none;
    border-radius: 50%;
    margin: 0 9px 0 0;
    position: relative;
    display: inline-block;
    top: 2px;
}

.fitler-radio-label .check-mark::after {
    content: '';
    width: 10px;
    height: 10px;
    top: 3px;
    left: 3px;
    border-radius: 50%;
    background: #CFCACA none;
    position: absolute;
    display: block;
}

.fitler-radio-label input:checked ~ .check-mark:after {
    background: #207BC1 none;
}

.fitler-radio-number {
    font-size: 14px;
    line-height: 19px;
    color: #333;
    display: inline-block;
}

.filter-price-list {
    margin: 12px 0 0;
}

.filter-box-price .noUi-target {
    height: 3px;
    background: #DCDBDB none;
    border-radius: 0;
    border: 0;
    margin: 24px 0 0;
}

.filter-box-price .noUi-connects {
    height: 3px;
    background: #DCDBDB none;
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    border-radius: 0;
}

.filter-box-price .noUi-connect {
    background: #FF4200 none;
}

.filter-box-price .noUi-horizontal .noUi-handle {
    border: 1px solid #FF4200;
    border-radius: 50%;
    background: #FFF none;
    width: 16px;
    height: 16px;
    top: -7px;
    cursor: pointer;
    box-shadow: none;
    right: 0;
}

.filter-box-price .noUi-handle::before,
.filter-box-price .noUi-handle::after {
    display: none;
}

.filter-box-price .noUi-origin {
    width: 9.31%;
}

.price-amount {
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    margin: 8px 0 0;
}

.filter-close-wrap {
    display: -ms-flexbox;
    display: flex;
    position: relative;
    width: 100%;
    padding: 20px 0 20px 20px;
    background: #FFF none;
    z-index: 99;
}

.filter-close {
    display: block;
    width: 15px;
    height: 15px;
    cursor: pointer;
}

.filter-wrap.active {
    z-index: 9999;
}

.filter-wrap.active {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
}

.toc-wrap {
    border: 1px solid #aaa;
    background: #f9f9f9 none;
    padding: 10px;
    margin: 0 0 20px;
    overflow: hidden;
}

.toc-wrap h4 {
    font-size: 15px;
    margin: 0;
    font-weight: 700;
    padding: 0;
    color: #666;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
}

.toc-wrap h4 span {
    padding: 0 0 0 10px;
    font-size: 13px;
    cursor: pointer;
    line-height: 15px;
    font-weight: 400;
}

.toc-wrap h4 span:hover {
    color: #207BC1;
}

.toc-wrap ul {
    list-style-type: square;
    margin: 10px 0 0;
    display: none;
}

.toc-wrap ul li {
    margin: 0 0 5px;
    font-size: 13px;
    color: #207BC1;
}

.toc-wrap ul li:last-child {
    margin: 0;
}

.toc-wrap ul li a {
    font-size: 13px;
    color: #333;
}

.no-result-title {
    text-align: center;
    font-size: 16px;
    line-height: 19px;
    font-weight: 700;
}

.no-result-title .page-title {
    font-size: 16px;
    line-height: 19px;
}

.no-result-product p {
    margin: 20px 0 0;
    text-align: center;
}

.back-home {
    margin: 15px 0 0;
    text-align: center;
}

.back-home a {
    font-size: 14px;
    line-height: 16px;
    color: #FFF;
    padding: 15px 35px 14px;
    background: #207BC1 none;
    border-radius: 22px;
    display: inline-block;
}

.page-suggest-header {
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}

.category-more {
    margin: 0 0 0 20px;
    max-width: 77px;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 77px;
    flex: 0 0 77px;
}

.category-product-more {
    display: block;
    line-height: 0;
}

.page-suggest-row {
    margin: 20px 0 0;
}

.no-result-content {
    margin: 12px 0 0;
    background: #D9EDF7 none;
    border-radius: 4px;
    padding: 12px;
    font-size: 12px;
    line-height: 14px;
}

.no-result-content p {
    margin: 0;
}