.article-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.article-list::after,
.article-list li::after {
    content: '';
    display: block;
    clear: both;
}

.article-list li:first-child {
    float: left;
    width: 100%;
    max-width: 57.916666%;
}

.article-list li:not(:first-child) {
    float: right;
    width: 100%;
    max-width: 41.0833333%;
    margin: 0 0 15px;
}

.article-list li:last-child {
    margin: 0;
}

.article-list a {
    color: #333;
}

.article-img {
    line-height: 0;
    display: block;
    position: relative;
    overflow: hidden;
}

.article-img img {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.article-list h3 {
    font-size: 18px;
    line-height: 21px;
    font-weight: 700;
    margin: 0;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.article-list li:first-child h3 {
    font-size: 24px;
    line-height: 28px;
    margin: 13px 0 0;
}

.article-meta {
    font-size: 13px;
    line-height: 15px;
    font-weight: 400;
    margin: 8px 0 0;
    font-style: italic;
    display: -ms-flexbox;
    display: flex;
}

.article-meta .article-meta-item::before {
    content: '-';
    display: inline-block;
    position: relative;
    margin: 0 5px;
}

.article-meta .article-meta-item:first-child::before {
    display: none;
}

.article-description {
    font-size: 14px;
    line-height: 16px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.article-list li:first-child .article-img {
    width: 695px;
    height: 364px;
}

.article-list li:not(:first-child) .article-img {
    width: 190px;
    height: 100px;
    float: left;
    margin: 0 12px 0 0;
}

.article-list li:first-child .article-meta,
.article-list li:first-child .article-description {
    margin: 13px 0 0;
}