.home-wrap {
    margin: 40px 0 0;
}

.home-title {
    font-size: 24px;
    line-height: 28px;
    font-weight: 700;
    text-align: center;
    margin: 0 0 32px 0;
}

.home-title::after {
    content: '';
    display: block;
    position: relative;
    margin: 16px auto 0;
    width: 90px;
    height: 4px;
    line-height: 0;
    background: #2196F3 none;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}