.keyword-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.keyword-list a {
    display: block;
    padding: 12px 16px;
    color: #333333;
    background: #EFF2F4 none;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.keyword-list h4 {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    margin: 0;
}

.keyword-wrap.home-wrap .keyword-list {
    margin: -12px 0 0;
}

.keyword-wrap.home-wrap .keyword-list::after {
    content: '';
    display: block;
    clear: both;
}

.keyword-wrap.home-wrap .keyword-list li {
    margin: 12px 10px 0 0;
    float: left;
}

.keyword-wrap.home-wrap .keyword-list li:last-child {
    margin: 12px 0 0;
}