.product-showroom-row {
    margin: -32px -12px 0;
    padding: 0;
    list-style: none;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.product-showroom-row li {
    margin: 32px 0 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
    padding: 0 12px;
}

.product-showroom-item {
    height: 100%;
    border: 1px solid #D3D3D3;
    border-bottom: 2px solid #207BC1;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    overflow: hidden;
    padding: 0 12px 28px;
}

.product-showroom-img {
    position: relative;
    margin: -1px -13px 0;
    line-height: 0;
}

.product-showroom-img a {
    display: block;
    width: -webkit-calc(100% + 28px);
    width: -moz-calc(100% + 28px);
    width: calc(100% + 28px);
    height: 223px;
    position: relative;
}

.product-showroom-img img {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.product-showroom-meta {
    font-size: 14px;
    line-height: 16px;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    margin: 14px 0 0;
    font-weight: 400;
}

.product-showroom-more {
    margin: 32px 0 0;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
}

.product-showroom-address {
    display: block;
    color: #FF6535;
    text-transform: uppercase;
}

.product-showroom-count {
    color: #818181;
}

.product-showroom-item h3 {
    margin: 9px 0 0;
    font-size: 18px;
    line-height: 21px;
    color: #207BC1;
    font-weight: 700;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    min-height: 42px;
}

.product-showroom-item a {
    color: #207BC1;
}

.product-showroom-description {
    margin: 14px 0 0;
    font-size: 14px;
    line-height: 16px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.product-showroom-more a {
    display: block;
    background: #FFF none;
    border: 1px solid #207BC1;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    padding: 7px 50px 7px 50px;
    font-size: 14px;
    line-height: 16px;
    color: #207BC1;
    font-weight: 400;
    height: 32px;
    cursor: pointer;
}